body{
    background-color: rgb(25, 126, 160);
    color: white;
    font-family:poppinsregular;
    max-width: 1200px;
    margin:0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: darkorange;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(255,165,0);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: darkorange;
    color: white;

}

h1{
    font-weight: 200;
}


main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 46px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: darkorange;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 560px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: darkorange;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
     cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}